<div class="login-wrapper">


  <div class="login-box">
    <h2>{{ lang.t('loginTitle') }}</h2>

    <p class="subtitle">
      {{ lang.t('loginSub') }}
    </p>

    <div *ngIf="error" class="error-box">
      {{ error }}
    </div>

    <form (ngSubmit)="submit()">

      <label>{{ lang.t('email') }}</label>
      <input
        [(ngModel)]="email"
        name="email"
        type="email"
        placeholder="{{ lang.t('email') }}"
        required
      />

      <label>{{ lang.t('password') }}</label>
      <input
        [(ngModel)]="password"
        name="password"
        type="password"
        placeholder="{{ lang.t('password') }}"
        required
      />

      <button [disabled]="loading" type="submit">
        <span *ngIf="!loading">{{ lang.t('loginBtn') }}</span>
        <span *ngIf="loading">Loading...</span>
      </button>

    </form>

  </div>

</div>
