.about-hero{
  text-align: center;
  padding: 100px 20px;
  background: #f5f6f1;
}

.about-logo{
  height: 80px;
  margin-bottom: 20px;
}

.about-hero h2{
  font-size: 32px;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.hero-text{
  max-width: 800px;
  margin: 0 auto;
  color: #555;
  line-height: 30px;
  font-size: 18px;
}




/* SECTION TEXT BOXES */
.about-section{
  width: 80%;
  margin: 70px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
}

.about-text-box{
  background: white;
  padding: 25px;
  border-radius: 12px;
  border: 1px solid #ddd;
  box-shadow: 0 10px 25px rgba(0,0,0,.08);
}

.about-text-box h3{
  margin-bottom: 12px;
  font-size: 20px;
}

.about-text-box p{
  color: #555;
  line-height: 26px;
}



/* CALL TO ACTION */
.about-banner{
  text-align: center;
  background: #aebc9f;
  padding: 80px 20px;
  color: white;
}

.about-banner h3{
  font-size: 22px;
  margin-bottom: 20px;
}

.about-btn{
  padding: 16px 60px;
  background: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #333;
  font-size: 17px;
}



/* RESPONSIVE */
@media(max-width: 900px){
  .about-section{
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 600px){
  .about-section{
    grid-template-columns: 1fr;
    width: 92%;
  }

  .hero-text{
    font-size: 16px;
  }

  .about-btn{
    width: 90%;
  }
}
