<div class="banner-container">

  <img *ngIf="bannerUrl" [src]="bannerUrl" alt="" class="banner1">

  <img *ngIf="!bannerUrl" src="assets/default-banner.jpg" alt="" class="banner1">

  <button class="btn" routerLink="products">
    {{ lang.t('bannerBtn') }}
  </button>

</div>


<div class="product-grid">

  <!-- BIG LEFT IMAGE -->
  <div class="item i8">
    <img [src]="grid1 || 'assets/default-grid1.jpg'">
  </div>

  <!-- OTHER 6 IMAGES -->
  <div class="item"><img [src]="grid2 || 'assets/default-grid2.jpg'"></div>
  <div class="item"><img [src]="grid3 || 'assets/default-grid3.jpg'"></div>
  <div class="item"><img [src]="grid4 || 'assets/default-grid4.jpg'"></div>
  <div class="item"><img [src]="grid5 || 'assets/default-grid5.jpg'"></div>
  <div class="item"><img [src]="grid6 || 'assets/default-grid6.jpg'"></div>
  <div class="item"><img [src]="grid7 || 'assets/default-grid7.jpg'"></div>

</div>




<section class="about-section">


  <h2 class="about-title">
    {{ lang.t('aboutTitle') }}
  </h2>

  <p class="about-text">
    {{ lang.t('aboutText') }}
  </p>

  <button class="about-btn" [routerLink]="['/products']">
    {{ lang.t('aboutBtn') }}
  </button>

</section>
