.pagination{
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}

.pagination button{
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background:#2563eb;
  color:white;
}

.pagination button:disabled{
  background:#9ca3af;
  cursor:not-allowed;
}


.admin-wrapper{
  max-width:1100px;
  margin:40px auto;
  padding:20px;
  font-family:Arial;
}

.title{
  text-align:center;
  margin-bottom:25px;
}

.admin-header{
  display:flex;
  justify-content:flex-end;
  margin-bottom:10px;
}

.card{
  background:white;
  padding:20px;
  border-radius:14px;
  box-shadow:0 6px 18px rgba(0,0,0,0.1);
  margin-bottom:25px;
}

.form{
  display:grid;
  gap:12px;
}

.grid{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:12px;
}

.field{
  display:flex;
  flex-direction:column;
}

.input{
  padding:10px;
  border-radius:8px;
  border:1px solid #ccc;
  outline:none;
}

.textarea{
  min-height:90px;
}

.btn{
  padding:10px 16px;
  border:none;
  border-radius:8px;
  cursor:pointer;
}

.primary{
  background:#2563eb;
  color:white;
}

.success{
  background:#16a34a;
  color:white;
}

.danger{
  background:#dc2626;
  color:white;
}

.refresh{
  background:#4b5563;
  color:white;
  padding:9px 12px;
  border-radius:8px;
  border:none;
  cursor:pointer;
}

.loading{
  text-align:center;
  margin:10px;
  color:#2563eb;
}

.table{
  width:100%;
  border-collapse:collapse;
}

.table th, .table td{
  text-align:left;
  padding:12px;
  border-bottom:1px solid #ddd;
}

.img{
  width:70px;
  height:70px;
  object-fit:cover;
  border-radius:8px;
}

.pagination{
  margin-top:15px;
  display:flex;
  justify-content:center;
  gap:15px;
  align-items:center;
}

.pagination button{
  padding:8px 14px;
  border-radius:8px;
  border:none;
  cursor:pointer;
  background:#2563eb;
  color:white;
}

.pagination button:disabled{
  background:#9ca3af;
  cursor:not-allowed;
}
