<div class="details-wrapper" *ngIf="product">

  <button class="back-btn" (click)="goBack()">
    ← Back to Products
  </button>

  <div class="details-card">

    <div class="image-side">
      <img [src]="product.image" alt="{{product.name}}">
    </div>

    <div class="info-side">

      <h1>{{ product.name }}</h1>

      <div class="product-description">
        <h3>პროდუქტის შესახებ</h3>

        <div class="desc-text" [innerHTML]="product.description"></div>
      </div>

      <div class="price-box">
        <span class="price">{{ product.price }}₾</span>
      </div>

    </div>

  </div>

</div>

<div *ngIf="!product" class="fallback">
  Product not found.
</div>
