@import '@fortawesome/fontawesome-free/css/all.min.css';

.nav1{
  width: 100%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img{
  height: 80px;
  object-fit: contain;
}

.menu-row{
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.menu-row ul {
  display: flex;
  gap: 40px;
}

li{
  list-style: none;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 1px;
}

ul li:hover{
  color: rgba(0, 128, 0, 0.363);
  transition: 0.5s;
}

/* Icons right */
.icons{
  font-size: 22px;
  cursor: pointer;
  display: flex;
  gap: 20px;
  align-items: center;
}

.icons i{
  transition: .2s ease;
}

.icons i:hover{
  transform: scale(1.1);
  color: #2563eb;
}

.admin-link{
  color: #2563eb;
  font-weight: 700;
}

.admin-icon{ color: gold; }
.logout-icon{ color: red; }

/* LANG */
.lang-switch{
  font-size: 14px;
  cursor: pointer;
  display: flex;
  gap: 5px;
  align-items: center;
}

.lang-switch span{
  opacity: .5;
  transition: .2s;
}

.lang-switch span:hover{
  opacity: 1;
  color: #2563eb;
}

.lang-switch .active{
  opacity: 1;
  font-weight: bold;
  color: #2563eb;
}

/* =====================
   MOBILE
===================== */

.mobile-menu{
  display: none !important;
}

.burger{
  display: none;
}

/* MOBILE MODE */
@media(max-width: 900px){

  .menu-row ul,
  .icons{
    display: none;
  }

  .burger{
    display: block;
    font-size: 28px;
    cursor: pointer;
  }

  .mobile-menu{
    display: block !important;
    width: 90%;
    background: white;
    max-height: 0;
    overflow: hidden;
    transition: .3s;
    box-shadow: 0 10px 25px rgba(0,0,0,.15);
    border-radius: 10px;
  }

  .mobile-menu.open{
    max-height: 420px;
    padding: 10px 0;
  }

  .mobile-menu ul{
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding-left: 20px;
  }

  .mobile-menu li{
    font-size: 16px;
  }

  .mobile-icons{
    margin-top: 10px;
    padding-left: 20px;
    display: flex;
    gap: 10px;
  }

  .mobile-icons button{
    padding: 6px 14px;
    border-radius: 8px;
    border: none;
    color: white;
    background: #2563eb;
  }
}
